.md-avatar {
  display: inline-flex;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  flex: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--md-avatar-container-color, var(--md-sys-color-primary-container));
  color: var(--md-avatar-label-color, var(--md-sys-color-on-primary-container));
  font-family: var(--md-sys-typescale-label-large-font);
  font-size: var(--md-sys-typescale-label-large-size);
  line-height: var(--md-sys-typescale-label-large-line-height);
  font-weight: var(--md-sys-typescale-label-large-weight);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  text-transform: uppercase;
}

.md-avatar[data-variant="icon"] {
  & svg {
    width: 24px;
    height: 24px;
  }
}

.md-avatar__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
